/** App display variables - Edit these to personalize app design! :D */
:root {
    /** 
    * Background of all pages. Note, if switching to solid color, change background-image in the body{} tag
    * to instead be background-color and remove the url wrapper of the --app-background here
    */
    --app-background: url("../../assets/AppBackground.jpg");

    /** Color of all main text, borders, and lines */
    --text-color: rgba(255, 255, 255, 0.90);

    /** Color for text of accented elements like buttons and nav-items */
    --accent-text-color: black;

    /** Color for text of hoverable, accented elements like buttons and nav-items */
    --accent-text-color-hover: white;

    /** Font used on all text */
    --font: "Rockwell Extra Bold", "Rockwell Bold", monospace;

    /** Color used for navbar, buttons, and other accented pieces */
    --accent-color: #087977;

    /** Color for background of hoverable elements like buttons and nav-items */
    --accent-color-hover: #0D6665;

    /** Color for background of hoverable elements like buttons and nav-items */
    --accent-color-darker: #0b5958;

    /** Color of all popup windows, used for forms and error messages */
    --dialog-color: lightgray;

    /** Color of text in all popup windows, used for forms and error messages */
    --dialog-text-color: black;
}

/** Styles the body of the app */
body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    background-image: var(--app-background);
    background-size: cover;
    background-repeat: repeat;
    font-family: var(--font);
    user-select: none;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: column;
}

* {
  box-sizing: border-box;
}
button, input, textarea, select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

/** Sets all page margins */
.app {
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

/** Creates a standard, padding container */
.container {
    padding: 10px;
}

/** Remove all margins */
.m0 {
    margin: 0px;
}

/** Styles list containers */
ul {
    margin: 0;
    padding: 0;
}

/** Styles a bordered container with overflow y option */
.border-container {
    border-style: solid;
    border-color: var(--text-color);
    border-width: 2px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--accent-color) black;
    scrollbar-width: thin;
}

/** Styles warning border */
.warning-container {
    border-style: solid;
    border-color: var(red);
    color: red;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}

/** Styles the horizontal line */
hr {
    border: 1px var(--text-color) solid;
    margin: 5px 0px;
    opacity: 100%;
}

/** Styles heading 1 */
h1 {
    margin: 0;
    font-size: 28px;
    font-style: var(--font);
}

/** Styles heading 2 */
h2 {
    margin: 0;
    font-size: 24px;
    font-style: var(--font);
}

/** Styles heading 3 */
h3 {
    margin: 0;
    font-style: var(--font);
}

/** Styles a subheader */
.subheader {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-style: var(--font);
}

/** Centers the contents of a container */
.center-content {
    display: flex;
    justify-content: center;
}

/** Sets a row to display flex with a gap and centers content */
.d-flex-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

/** Sets content to space between */
.space-between {
    justify-content: space-between;
}

/** Removes the background of a button */
.nobkg-button {
    float: right;
    background: transparent;
    color: var(--text-color);
}

/** Styles all standard buttons in the app */
.button {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    border-radius: 5px;
    padding: 5px;
}
    .button:hover {
        background-color: var(--accent-color-hover);
        color: var(--accent-text-color-hover);
    }

/** Style dialog close buttons */
.close-button {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 1;
    margin-bottom: 5px;
    float: right;
}
    .close-button:hover {
        background-color: var(--accent-color-hover);
        color: var(--accent-text-color-hover);
    }

/** Style all form content */
.form-field input {
    margin-bottom: 5px;
    width: 100%;
}
    .form-field input::placeholder {
        font-family: var(--font);
    }

.form-field textarea {
    margin-bottom: 3px;
    min-width: 100%;
}
.form-content {
    padding: 10px;
}
.form-field select {
    margin-bottom: 3px;
}
.form-label {
    font-size: 14px;
}
.form-content .button {
    margin-top: 5px;
}

/** Style window popup elements */
dialog {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 10%;
    left: 30%;
    background-color: var(--dialog-color);
    color: var(--dialog-text-color);
}

/** Style grouped <li> items */
.group-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    line-height: 1.4;
}
    .group-item:hover {
        background-color: rgba(255,255,255, 0.1);
    }

/** Styles the vellip button for specific list items */
.group-item .opt-btn {
    display: none;
    margin-left: auto;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    float: right;
    font-size: 16px;
}
    .group-item:hover .opt-btn {
        display: inline-block;
    }
    .group-item .opt-btn:hover {
        background-color: rgba(255,255,255, 0.3);
    }

.group {
    min-width: 300px;
    padding: 0 !important;
}

.all-groups {
    display: flex;
    flex: 1 1 auto;
    flex: row;
    min-height: 0;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    scrollbar-color: var(--accent-color) black;
    scrollbar-width: thin;
}

.menu {
    padding: 5px 0px;
    list-style: none;
}

/** Styles the vellip button for each grouping */
.vellip-btn {
    margin: 0;
    border: none;
    border-radius: 3px;
    padding: 0px 6px;
    font-size: 18px;
}
    .vellip-btn:hover {
        background-color: rgba(255,255,255, 0.1);
    }

p {
    margin: 0;
    font-size: 14px;
    font-style: var(--font);
    color: black;
}

/** Add strike through to text */
.strike-through {
    text-decoration: line-through;
}

.menu {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    display: none; 
    position: fixed;
    border-radius: 5px;
}

.menu-button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-radius: 3px;
    color: var(--accent-text-color);
}
    .menu-button:hover {
        color: var(--accent-text-color-hover);
        background-color: var(--accent-color-hover);
    }

.header-bar {
    cursor: move;
    user-select: none;
    background-color: var(--accent-color);
    padding: 3px;
    height: 25px;
    justify-content: space-between;
}

.fake-btn {
    border: 1px var(--accent-color) solid;
    border-radius: 5px;
    color: var(--accent-color);
    width: fit-content;
    padding: 3px 7px;
    margin-left: 33px;
}

/** Styles the header to each task item */
.summary {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/** Styles the name of each task item */
.title {
    flex-grow: 1;
    margin-left: 10px;
}

/** Styles the container hold each individual task */
.item-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    padding: 10px;
}

/** Styles the description of each task item */
.sub-text {
    margin-left: 35px;
    margin-bottom: 5px;
    color: var(--text-color);
}