/** Default styling */
:root {
    --app-background: black;
    --text-color: white;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

/** Styles the body of the app */
body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--app-background);
    color: var(--text-color);
    transition: background-color 0.3s ease;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    -webkit-app-region: drag;
}

/** Styles the general content container of the app */
.app {
    margin: 15px;
}

/** Styles a bordered container */
.border-container {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/** Styles the horizontal line */
hr {
    margin-top: 3px;
    margin-bottom: 3px;
    color: white;
    opacity: 100%;
    border-width: 2px;
}

/** Styles heading 2 */
h2 {
    margin: 0;
    font-size: 24px;
    color: white;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-weight: bold;
}

/** Styles heading 3 */
h3 {
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-weight: bold;
}

/** Styles the navigation buttons */
.nav-button {
    background: #117473;
    color: white;
    padding: 10px;
    width: 110%;
    font-size: 16px;
    font-weight: bold;
}

/** Centers the contents of a container */
.center-content {
    display: flex;
    justify-content: center;
}