/** App display variables - Edit these to personalize app design! :D */
:root {
    /** 
    * Background of all pages. Note, if switching to solid color, change background-image in the body{} tag
    * to instead be background-color and remove the url wrapper of the --app-background here
    */
    --app-background: url("../../assets/AppBackground.jpg");

    /** Color of all main text, borders, and lines */
    --text-color: rgba(255, 255, 255, 0.90);

    /** Color for text of accented elements like buttons and nav-items */
    --accent-text-color: black;

    /** Color for text of hoverable, accented elements like buttons and nav-items */
    --accent-text-color-hover: white;

    /** Font used on all text */
    --font: "Rockwell Extra Bold", "Rockwell Bold", monospace;

    /** Color used for navbar, buttons, and other accented pieces */
    --accent-color: #087977;

    /** Color for background of hoverable elements like buttons and nav-items */
    --accent-color-hover: #0D6665;

    /** Color for background of hoverable elements like buttons and nav-items */
    --accent-color-darker: #0b5958;

    /** Color of all popup windows, used for forms and error messages */
    --dialog-color: lightgray;

    /** Color of text in all popup windows, used for forms and error messages */
    --dialog-text-color: black;
}

/** Styles the body of the app */
body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    background-image: var(--app-background);
    background-size: cover;
    background-repeat: repeat;
    font-family: var(--font);
    user-select: none;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: column;
}

* {
  box-sizing: border-box;
}
button, input, textarea, select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

/** Sets all page margins */
.app {
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/** Styles container border */
.border-container {
    border-style: solid;
    border-color: var(--text-color);
    border-width: 2px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}

/** Styles warning border */
.warning-container {
    border-style: solid;
    border-color: var(red);
    color: red;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}

/** Styles the horizontal line */
hr {
    border: 1px var(--text-color) solid;
    margin: 5px 0px;
    opacity: 100%;
}

h1 {
    margin: 0;
    font-size: 28px;
    font-style: var(--font);
}

/** Styles heading 2 */
h2 {
    margin: 0;
    font-size: 24px;
    font-style: var(--font);
}

/** Styles heading 3 */
h3 {
    margin: 0;
    font-size: 18px;
    font-style: var(--font);
}

/** Styles heading 4 */
.subheader {
    margin-left: 10px;
    font-size: 16px;
    font-style: var(--font);
}

/** Centers the contents of a container */
.center-content {
    display: flex;
    justify-content: center;
}

.d-flex-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.space-between {
    justify-content: space-between;
}

.nobkg-button {
    float: right;
    background: none;
    color: var(--text-color);
}

/** Styles all buttons in the app */
.button {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    border-radius: 5px;
    padding: 5px;
}
    .button:hover {
        background-color: var(--accent-color-hover);
        color: var(--accent-text-color-hover);
    }

/** Style close buttons */
.close-button {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 1;
    margin-bottom: 5px;
    float: right;
}
    .close-button:hover {
        background-color: var(--accent-color-hover);
        color: var(--accent-text-color-hover);
    }

/** Style all form content */
.form-field input {
    margin-bottom: 5px;
    width: 100%;
}
    .form-field input::placeholder {
        font-family: var(--font);
    }

.form-field textarea {
    margin-bottom: 3px;
    min-width: 100%;
}
.form-content {
    padding: 10px;
}
.form-field select {
    margin-bottom: 3px;
}
.form-label {
    font-size: 14px;
}
.form-content .button {
    margin-top: 5px;
}

/** Style window popup elements */
dialog {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 10%;
    left: 30%;
    background-color: var(--dialog-color);
    color: var(--dialog-text-color);
}

/** Style grouped <li> items */
.group-item {
    list-style: none;
}

/** Add strike through to text */
.strike-through {
    text-decoration: line-through;
}

.group-item a {
    text-decoration: none;
    color: var(--text-color);
}
    .group-item a:hover {
        color: var(--accent-color);
    }

.group {
    min-width: 300px;
}

.all-groups {
    display: flex;
    flex: 1;
    flex: row;
    overflow: auto;
    gap: 10px;
    scrollbar-color: var(--accent-color) black;
    scrollbar-width: thin;
}

.m0 {
    margin: 0px;
}

ul {
    padding-left: 20px;
}

.menu {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    display: none; 
    position: fixed;
    border-radius: 5px;
}

.menu-button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-radius: 3px;
    color: var(--accent-text-color);
}
    .menu-button:hover {
        color: var(--accent-text-color-hover);
        background-color: var(--accent-color-hover);
    }

.header-bar {
    cursor: move;
    user-select: none;
    background-color: var(--accent-color);
    padding: 3px;
    height: 25px;
    justify-content: space-between;
}