.border-container {
    border-style: solid;
    border-color: var(--text-color);
    border-width: 2px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-button {
    color: var(--accent-color);
    background: none;
    font-size: 14;
    border: none;
    padding: 5px;
    font-weight: bold;
}

.accordion {
    cursor: pointer;
    transition: 0.4s;
}

.panel {
    display: none;
    overflow: hidden;
}

h3 {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-style: var(--font);
}

summary:hover {
    color: var(--accent-color);
}

li.group-item {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 1.4;
}

li.group-item .opt-btn {
    display: none;
    margin-left: auto;
    background: none;
    color: white;
    border-radius: 5px;
}
    li.group-item:hover .opt-btn {
        display: inline-block;
    }

.menu-button {
    font-style: var(--font);
    color: black;
}
    .menu-button:hover {
        color: white;
    }

.menu {
    padding: 5px 0px;
    list-style: none;
}

p {
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    font-style: var(--font);
    color: black;
}

.sort-opt {
    color: black;
}
    .sort-opt:hover {
        color: white;
        background-color: var(--accent-color-hover);
    }

.sort-title {
    font-size: 13px;
}

.lists {
    flex: 1;
}