/* Private styles for task-view page */

/** Styles a button that's just text */
.add-button {
    color: var(--accent-color);
    background: none;
    font-size: 14;
    border: none;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
}
    .add-button:hover {
        color: rgba(255,255,255, 0.9);
    }

/** Styles the overall lists container */
.lists {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}