* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

/** Styles the body of the app */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  user-select: none;
  -webkit-app-region: drag;
}

/** Styles the general content container of the app */
.app {
    padding: 25px;
}

h2 {
    margin: 0;
    font-size: 24px;
}